In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
import numpy as np
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("spam.csv")
df

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180,ham
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74,ham
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55,ham
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819,spam
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20,spam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.00,0.00,0.53,0.0,0.00,0.53,0.00,0.00,0.00,0.53,...,0.000,0.101,0.0,0.000,0.000,0.00,1.857,16,52,ham
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.443,0.0,0.221,0.665,0.00,3.812,15,61,spam
4598,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.000,1,3,ham
4599,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.218,0.0,0.218,0.000,0.00,1.687,10,27,ham
4600,0.13,0.26,0.52,0.0,0.26,0.00,0.13,0.00,0.00,0.39,...,0.000,0.000,0.0,0.366,0.000,0.04,7.138,149,1235,spam

In [ ]:
df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180,ham
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74,ham
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55,ham
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819,spam
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20,spam

In [ ]:
x=df.iloc[:,:-1]
y=df.Class

In [ ]:
x

,make,address,all,3d,our,over,remove,internet,order,mail,...,conference,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.0,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.00,0.00,0.53,0.0,0.00,0.53,0.00,0.00,0.00,0.53,...,0.0,0.000,0.101,0.0,0.000,0.000,0.00,1.857,16,52
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.443,0.0,0.221,0.665,0.00,3.812,15,61
4598,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.000,0.000,0.00,1.000,1,3
4599,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.218,0.0,0.218,0.000,0.00,1.687,10,27
4600,0.13,0.26,0.52,0.0,0.26,0.00,0.13,0.00,0.00,0.39,...,0.0,0.000,0.000,0.0,0.366,0.000,0.04,7.138,149,1235

In [ ]:
y

0        ham
1        ham
2        ham
3       spam
4       spam
        ...
4596     ham
4597    spam
4598     ham
4599     ham
4600    spam
Name: Class, Length: 4601, dtype: object

In [ ]:
df.notnull().count()#no null values

make          4601
address       4601
all           4601
3d            4601
our           4601
over          4601
remove        4601
internet      4601
order         4601
mail          4601
receive       4601
will          4601
people        4601
report        4601
addresses     4601
free          4601
business      4601
email         4601
you           4601
credit        4601
your          4601
font          4601
0             4601
money         4601
hp            4601
hpl           4601
george        4601
650           4601
lab           4601
labs          4601
telnet        4601
857           4601
data          4601
415           4601
85            4601
technology    4601
1999          4601
parts         4601
pm            4601
direct        4601
cs            4601
meeting       4601
original      4601
project       4601
re            4601
edu           4601
table         4601
conference    4601
semicol       4601
paren         4601
bracket       4601
bang          4601
dollar        4601
pound         4601
cap_avg       4601
cap_long      4601
cap_total     4601
Class         4601
dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.78265594, random_state=1) # 78.265594% testing and 21.734406% train

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=10)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))#classification accuracy

Accuracy: 0.9272424326575951

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.92      0.96      0.94      2172
        spam       0.94      0.87      0.90      1429

    accuracy                           0.93      3601
   macro avg       0.93      0.92      0.92      3601
weighted avg       0.93      0.93      0.93      3601

In [ ]:
print(metrics.confusion_matrix(y_test, y_pred))#confusion matrix

[[2095   77]
 [ 185 1244]]

In [ ]:
accuracy_score(y_test, y_pred)#per class classification accuracy

0.9272424326575951

Decision tree

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8819772285476256

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.90      0.90      0.90      2172
        spam       0.85      0.85      0.85      1429

    accuracy                           0.88      3601
   macro avg       0.88      0.88      0.88      3601
weighted avg       0.88      0.88      0.88      3601

In [ ]:
print(metrics.confusion_matrix(y_test, y_pred))#confusion matrix

[[1965  207]
 [ 218 1211]]

In [ ]:
accuracy_score(y_test, y_pred,)#per class classification accuracy

0.8819772285476256